  body {
    background-color: #742981;
    color: white;
  }

  .content {
      background-color: black;
    }

  a {
    color: #f6cffd;
  }
  
  .swal2-html-container {
    color: white;
  }
  .swal2-title {
    color: white !important;
  }
  .swal2-confirm {
    color: white !important;
  }