body {
  background-color: #f6cffd;
  color: black;
}

.content {
    background-color: white;
  }

a {
  color: #742981;
}

.swal2-html-container {
  color: black;
}
.swal2-title {
  color: black !important;
}
.swal2-confirm {
  color: black !important;
}