@import "fonts.css";

/* Portfolios */
* {
    box-sizing: border-box;
  }

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
    column-count: 4;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    break-inside: avoid;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content:hover {
      transform: scale(1.5);
      z-index: 100;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      column-count: 2;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      column-count: 1;
    }
  }

  .title {
      font-family: "Atmospheric";
  }
  
  body {
    padding: 20px;
    font-family: "Montserrat";
  }

  .content {
    padding: 10px;
    transition: transform .2s;
    position: relative;
    background-color: var(--accent);
  }

  .swal2-html-container {
    font-family: "Atmospheric";
    font-size: 10pt;
    color: var(--text) !important;
  }

  .swal2-title {
    font-family: "Atmospheric";
    color: var(--text) !important;
  }
  .swal2-confirm {
    font-family: "Atmospheric";
    color: var(--text) !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: currentColor;
    text-decoration: none;
}
.navbar {
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text);
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
header {
    padding: 1em;
    background: var(--accent);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    color: var(--text);
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0px, 100% 15%, 91.98% 40.09%, 75.89% 61.88%, 64.8% 89.56%, 50% 100%, 34.41% 89.09%, 19.38% 80.66%, 9.62% 46.75%, 9.03% 24.34%, 27px 16.99%, 0px 0px);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
main {
    min-height: 1000px;
    padding: 2rem;
}
.dropdown {
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}
.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}
.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}
/*
.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
*/
/* Theme Settings */
:root {
    --light-pink: #f6cffd;
    --light-blue: #ced6fd;
    --light-green: #d6fdce;
    --light-yellow: #fdf5ce;
    --black: #020300ff;
    
    --dark-pink: #742981;
    --dark-blue: #29367f;
    --dark-green: #367f29;
    --dark-yellow: #7f7229;
    --light-gray: #ccccccff;
}
.light {
    --bg: var(--light-pink);
    --bg-nav: var(--light-blue);
    --bg-dropdown: var(--light-yellow);
    --text: var(--black);
    --border-color: var(--dark-pink);
    --accent: var(--light-green);
}
.dark {
    --bg: var(--dark-pink);
    --bg-nav: var(--dark-blue);
    --bg-dropdown: var(--dark-yellow);
    --text: var(--light-gray);
    --border-color: var(--light-pink);
    --accent: var(--dark-green);
}
